<!DOCTYPE html>

<html>
	<head>
		<title>Mapa do preço de aluguéis</title>
	</head>
	<body>
		<h1>Aonde você tem condições de viver?</h1>

		<ul>
			<% @cities.each do |city| %>
				<li>
					<h2>
						<%= link_to city.name, city %>
					</h2>
				</li>
			<% end %>
		</ul>
	</body>
</html>
