<!DOCTYPE html>

<html>
	<head>
		<title>Mapa do preço de aluguéis</title>
	</head>
	<body>
		<h1>Aonde você tem condições de viver?</h1>

		<h2>
			<a href="cidade/rio-de-janeiro">Rio de Janeiro</a>
		</h2>

		<h2>
			<a href="cidade/sao-paulo">São Paulo</a>
		</h2>
	</body>
</html>
